<a href="https://colab.research.google.com/github/nadhifazlfa/week-02/blob/main/week_02_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Integer

11

11

In [ ]:
# Float

2.14

2.14

In [ ]:
# String

#print("Hello, Python 102!")
#print("Hello, Python 101!")

"Hello, Python 102!"
#"Hello, Python 101!"

'Hello, Python 102!'

In [ ]:
# Type of 12

type(12)

int

In [ ]:
# Type of 2.14

type(2.14)

float

In [ ]:
# Type of "Hello, Python  101!"

type("Hello, Python 101!")

str

In [ ]:
# Write your code below. Dont forget to ptress Shift+Enter to execute the cell
type(12.0)

float

In [ ]:
# Print the type of -1

type (-1)

int

In [ ]:
type (-6)

int

In [ ]:
# Print the type of 4

type (4)

int

In [ ]:
# Print the type of 0

type(0)

int

In [ ]:
# Print the type of 0.5

type(0.5)

float

In [ ]:
# Print the type of 56

type(0.56)

float

In [ ]:
# System settings about float type
import sys # it is needes to declare the library "sys" before using it
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Verify that this is an integer

type(2)

int

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and its type

type (float(2))

float

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [ ]:
# Convert a string into an integer

int('1')

1

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [ ]:
# Convert the string "1.2" into a float

float ('1.2')

1.2

In [ ]:
# Convert an integer to a string

str(1)

'1'

In [ ]:
# Convert a float to a string

str(1.2)

'1.2'

In [ ]:
# Value true

True

True

In [ ]:
# Value false

False

False

In [ ]:
# Type of True

type(True)

bool

In [ ]:
# Type of False

type(False)

bool

In [ ]:
# Convert True to int

int(True)

1

In [ ]:
# Convert 1 to boolean

bool(1)

True

In [ ]:
# Convert 0 to boolean

bool(0)

False

In [ ]:
# Convert True to float

float(True)

1.0

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

In [ ]:
# Addition operation expression

#43 + 60 + 16 + 41

type (10.55+10.55-5)

float

In [ ]:

# Subtraction operation expression

type(50 - 60)

int

In [ ]:
# Multiplication operation expression

25 / 5

5.0

In [ ]:
# Division operation expression

25 / 6

4.166666666666667

In [ ]:
# Integer division operation expression

25 // 6

4

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

2.6666666666666665

In [ ]:
# Mathematical expression

30 + 2 * 60 // 10

42

In [ ]:
 # Mathematical expression
(30 + 2) * 60

1920

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41
x

160

In [ ]:
 # Use another variable to store the result of the operation between variable and value
 y = x / 60
 y

2.6666666666666665

In [ ]:
# Overwrite variable with new value

x = x / 60
print(x)

2.6666666666666665

In [ ]:
x

2.6666666666666665

In [ ]:
# Name the variable meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [ ]:
float(total_min)

142.0

In [ ]:
a=2
a

2

In [ ]:
print(float(1))

1.0

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

NameError: name 'total_min' is not defined

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60 # Total hours in a single expression
total_hours

2.3666666666666667

In [ ]:
# Write your code blow. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
x

7

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
y

10

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

17

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10
print()
keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi
print()
print("panjang = ", panjang)
print("lebar = ", lebar)
print("tinggi = ", tinggi)
print("keliling = ", keliling)
print("volume = ", volume)

panjang =  20.5
lebar =  25
tinggi =  10
keliling =  91.0
volume =  5125.0

In [ ]:
rataratashafira = ((85+75)/2)
print("rataratashafira = ", rataratashafira)

rataratashafira =  80.0

In [ ]:
nilaihanifdanandi = ((75+90+70+75))
print("nilaihanifdanandi = ", nilaihanifdanandi)

nilaihanifdanandi =  310

In [ ]:
kalkuluswidyadhanarhikmanedia = ((85+85+80+90)/4)
print("kalkuluswidyadhanarhikmanedia = ", kalkuluswidyadhanarhikmanedia)
print()
statistikawidyadhanarhikmanedia = ((85+85+75+80)/4)
print("statistikawidyadhanarhikmanedia = " , statistikawidyadhanarhikmanedia)

kalkuluswidyadhanarhikmanedia =  85.0

statistikawidyadhanarhikmanedia =  81.25

In [ ]:
kalkulussemuamahasiswa = ((85+80+75+95+85+75+70+85+80)/ 9)
print("kalkulussemuamahasiswa = " , kalkulussemuamahasiswa)

kalkulussemuamahasiswa =  81.11111111111111

In [ ]:
statistikasemuamahasiswa = ((75+90+80+80+85+90+75+85+75)/ 9)
print("statistikasemuamahasiswa =)" , statistikasemuamahasiswa)

statistikasemuamahasiswa =) 81.66666666666667

In [ ]:
gajibulanagustus = ((28*30000*8))
print("gajibulanangustus =)" , gajibulanagustus)

gajibulanangustus =) 6720000

In [ ]:
tunjangandwi = ((6720000*10//100))
print("tunjangandwi =)" , tunjangandwi)

tunjangandwi =) 672000

In [ ]:
gajitotal = ((6720000+672000+50000))
print("gajitotal =)" , gajitotal)

gajitotal =) 7442000